In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn import metrics

from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
import tensorflow as tf

In [2]:
train_df=pd.read_csv('train.csv')
train_df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [3]:
test_df=pd.read_csv('test.csv')
test_df.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [5]:
train_df.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
train_df.head()

   PassengerId  Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3    male  22.0      1      0   7.2500        S
1            2         1       1  female  38.0      1      0  71.2833        C
2            3         1       3  female  26.0      0      0   7.9250        S
3            4         1       1  female  35.0      1      0  53.1000        S
4            5         0       3    male  35.0      0      0   8.0500        S

In [6]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [7]:
test_df.drop(['Name', 'Ticket', 'Cabin'], axis=1, inplace=True)
test_df.head()

   PassengerId  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0          892       3    male  34.5      0      0   7.8292        Q
1          893       3  female  47.0      1      0   7.0000        S
2          894       2    male  62.0      0      0   9.6875        Q
3          895       3    male  27.0      0      0   8.6625        S
4          896       3  female  22.0      1      1  12.2875        S

In [8]:
train_df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Sex              0
Age            177
SibSp            0
Parch            0
Fare             0
Embarked         2
dtype: int64

In [9]:
test_df.isnull().sum()

PassengerId     0
Pclass          0
Sex             0
Age            86
SibSp           0
Parch           0
Fare            1
Embarked        0
dtype: int64

In [10]:
train_df['Age']=train_df['Age'].fillna((train_df['Age']).mean())
test_df['Age']=test_df['Age'].fillna((test_df['Age']).mean())
test_df['Fare']=test_df['Fare'].fillna((test_df['Fare']).mean())

In [11]:
train_df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [12]:
train_df['Embarked']=train_df['Embarked'].fillna('S')

In [13]:
lb=preprocessing.LabelEncoder()
train_df['Sex'] = lb.fit_transform(train_df['Sex'])
test_df['Sex'] = lb.fit_transform(test_df['Sex'])
train_df['Embarked'] = lb.fit_transform(train_df['Embarked'])
test_df['Embarked'] = lb.fit_transform(test_df['Embarked'])

In [14]:
print(train_df.head())
print(test_df.head())

   PassengerId  Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0            1         0       3    1  22.0      1      0   7.2500         2
1            2         1       1    0  38.0      1      0  71.2833         0
2            3         1       3    0  26.0      0      0   7.9250         2
3            4         1       1    0  35.0      1      0  53.1000         2
4            5         0       3    1  35.0      0      0   8.0500         2
   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    1  34.5      0      0   7.8292         1
1          893       3    0  47.0      1      0   7.0000         2
2          894       2    1  62.0      0      0   9.6875         1
3          895       3    1  27.0      0      0   8.6625         2
4          896       3    0  22.0      1      1  12.2875         2

In [15]:
x=train_df.drop(['PassengerId', 'Survived'], axis=1)
y=train_df['Survived']
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=0)

In [16]:
print(x_train.shape, y_train.shape)
print(x_test.shape, y_test.shape)

(712, 7) (712,)
(179, 7) (179,)

In [17]:
k=5
neigh = KNeighborsClassifier(n_neighbors = k).fit(x_train,y_train)
yhat = neigh.predict(x_test)
print("Train set Accuracy: ", metrics.accuracy_score(y_train, neigh.predict(x_train)))
print("Test set Accuracy: ", metrics.accuracy_score(y_test, yhat))

Train set Accuracy:  0.8047752808988764
Test set Accuracy:  0.7430167597765364

In [20]:
rf=RandomForestClassifier(n_estimators=250, max_depth=9).fit(x_train, y_train)
y_pred=rf.predict(x_test)
print("Random Forest Accuracy: ", metrics.accuracy_score(y_test, y_pred))

Random Forest Accuracy:  0.8547486033519553

In [19]:
dt=DecisionTreeClassifier(criterion="entropy", max_depth = 7).fit(x_train, y_train)
tree_pred=dt.predict(x_test)
print("DecisionTrees's Accuracy: ", metrics.accuracy_score(y_test, tree_pred))

DecisionTrees's Accuracy:  0.8435754189944135

In [40]:
model=tf.keras.models.Sequential()
model.add(tf.keras.layers.Dense(8, input_shape=(x_train.shape[1],)))
model.add(tf.keras.layers.Dense(16, activation='relu'))
model.add(tf.keras.layers.BatchNormalization())
model.add(tf.keras.layers.Dense(16, activation='relu'))
model.add(tf.keras.layers.Dropout(0.4))
model.add(tf.keras.layers.Dense(10, activation='relu'))
model.add(tf.keras.layers.Dense(1, activation='sigmoid'))

In [41]:
model.summary()

Model: "sequential_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_20 (Dense)             (None, 8)                 64
_________________________________________________________________
dense_21 (Dense)             (None, 16)                144
_________________________________________________________________
batch_normalization_1 (Batch (None, 16)                64
_________________________________________________________________
dense_22 (Dense)             (None, 16)                272
_________________________________________________________________
dropout_4 (Dropout)          (None, 16)                0
_________________________________________________________________
dense_23 (Dense)             (None, 10)                170
_________________________________________________________________
dense_24 (Dense)             (None, 1)                 11
=================================================================
Total params: 725
Trainable params: 693
Non-trainable params: 32
_________________________________________________________________

In [42]:
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

In [43]:
model.fit(x_train, y_train, batch_size=16, epochs=100)

Epoch 1/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6908 - accuracy: 0.5885
Epoch 2/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6374 - accuracy: 0.6419
Epoch 3/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6363 - accuracy: 0.6362
Epoch 4/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6506 - accuracy: 0.6531
Epoch 5/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6302 - accuracy: 0.6461
Epoch 6/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6189 - accuracy: 0.6643
Epoch 7/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6295 - accuracy: 0.6615
Epoch 8/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6230 - accuracy: 0.6517
Epoch 9/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6260 - accuracy: 0.6615
Epoch 10/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6240 - accuracy: 0.6713
Epoch 11/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6192 - accuracy: 0.6742
Epoch 12/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5961 - accuracy: 0.6629
Epoch 13/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6069 - accuracy: 0.6756
Epoch 14/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5889 - accuracy: 0.6770
Epoch 15/100
45/45 [==============================] - 0s 4ms/step - loss: 0.6089 - accuracy: 0.6671
Epoch 16/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5893 - accuracy: 0.6868
Epoch 17/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5755 - accuracy: 0.6966
Epoch 18/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5739 - accuracy: 0.6938
Epoch 19/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5564 - accuracy: 0.7191
Epoch 20/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5371 - accuracy: 0.7556
Epoch 21/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5333 - accuracy: 0.7402
Epoch 22/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5355 - accuracy: 0.7528
Epoch 23/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5223 - accuracy: 0.7654
Epoch 24/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5237 - accuracy: 0.7626
Epoch 25/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5034 - accuracy: 0.7767
Epoch 26/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5038 - accuracy: 0.7654
Epoch 27/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5021 - accuracy: 0.7584
Epoch 28/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5089 - accuracy: 0.7654
Epoch 29/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5045 - accuracy: 0.7725
Epoch 30/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5104 - accuracy: 0.7781
Epoch 31/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5039 - accuracy: 0.7725
Epoch 32/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4959 - accuracy: 0.7739
Epoch 33/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5098 - accuracy: 0.7697
Epoch 34/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5012 - accuracy: 0.7612
Epoch 35/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5070 - accuracy: 0.7711
Epoch 36/100
45/45 [==============================] - 0s 5ms/step - loss: 0.5072 - accuracy: 0.7753
Epoch 37/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4999 - accuracy: 0.7851
Epoch 38/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4782 - accuracy: 0.8006
Epoch 39/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4753 - accuracy: 0.7851
Epoch 40/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5013 - accuracy: 0.7795
Epoch 41/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4854 - accuracy: 0.7963
Epoch 42/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4918 - accuracy: 0.7837
Epoch 43/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4945 - accuracy: 0.7697
Epoch 44/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4852 - accuracy: 0.7879
Epoch 45/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4652 - accuracy: 0.8062
Epoch 46/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4678 - accuracy: 0.7823
Epoch 47/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4829 - accuracy: 0.7907
Epoch 48/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5049 - accuracy: 0.7781
Epoch 49/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4680 - accuracy: 0.8062
Epoch 50/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4902 - accuracy: 0.7837
Epoch 51/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4854 - accuracy: 0.7963
Epoch 52/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4819 - accuracy: 0.7879
Epoch 53/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4821 - accuracy: 0.7865
Epoch 54/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4879 - accuracy: 0.7753
Epoch 55/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4757 - accuracy: 0.7907
Epoch 56/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4799 - accuracy: 0.7753
Epoch 57/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4864 - accuracy: 0.8006
Epoch 58/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4772 - accuracy: 0.7978
Epoch 59/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4817 - accuracy: 0.7851
Epoch 60/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4811 - accuracy: 0.7949
Epoch 61/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4734 - accuracy: 0.7879
Epoch 62/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4619 - accuracy: 0.8104
Epoch 63/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4814 - accuracy: 0.7879
Epoch 64/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4658 - accuracy: 0.7992
Epoch 65/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4768 - accuracy: 0.7949
Epoch 66/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4475 - accuracy: 0.8216
Epoch 67/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4577 - accuracy: 0.8118
Epoch 68/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4660 - accuracy: 0.7851
Epoch 69/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4851 - accuracy: 0.7921
Epoch 70/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4716 - accuracy: 0.7949
Epoch 71/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4726 - accuracy: 0.7935
Epoch 72/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4759 - accuracy: 0.7978
Epoch 73/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4695 - accuracy: 0.8048
Epoch 74/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4685 - accuracy: 0.7978
Epoch 75/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4591 - accuracy: 0.7963
Epoch 76/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4853 - accuracy: 0.7893
Epoch 77/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4735 - accuracy: 0.7992
Epoch 78/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4720 - accuracy: 0.7963
Epoch 79/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4580 - accuracy: 0.8006
Epoch 80/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4653 - accuracy: 0.8020
Epoch 81/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4802 - accuracy: 0.7893
Epoch 82/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4774 - accuracy: 0.7978
Epoch 83/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4553 - accuracy: 0.8048
Epoch 84/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4620 - accuracy: 0.7893
Epoch 85/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4596 - accuracy: 0.7978
Epoch 86/100
45/45 [==============================] - 0s 4ms/step - loss: 0.5084 - accuracy: 0.7879
Epoch 87/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4639 - accuracy: 0.7921
Epoch 88/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4824 - accuracy: 0.7837
Epoch 89/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4695 - accuracy: 0.7949
Epoch 90/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4748 - accuracy: 0.7893
Epoch 91/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4767 - accuracy: 0.7907
Epoch 92/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4671 - accuracy: 0.8118
Epoch 93/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4739 - accuracy: 0.7879
Epoch 94/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4816 - accuracy: 0.7921
Epoch 95/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4806 - accuracy: 0.7907
Epoch 96/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4835 - accuracy: 0.7865
Epoch 97/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4657 - accuracy: 0.8006
Epoch 98/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4776 - accuracy: 0.8034
Epoch 99/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4609 - accuracy: 0.8104
Epoch 100/100
45/45 [==============================] - 0s 4ms/step - loss: 0.4533 - accuracy: 0.8160

In [44]:
nn_loss, nn_acc=model.evaluate(x_test, y_test)

6/6 [==============================] - 0s 2ms/step - loss: 0.4704 - accuracy: 0.7989

In [45]:
test_df.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0          892       3    1  34.5      0      0   7.8292         1
1          893       3    0  47.0      1      0   7.0000         2
2          894       2    1  62.0      0      0   9.6875         1
3          895       3    1  27.0      0      0   8.6625         2
4          896       3    0  22.0      1      1  12.2875         2

In [46]:
test_ids = test_df['PassengerId']
pred=rf.predict(test_df.drop('PassengerId', axis=1))
res=pd.DataFrame({'PassengerId':test_ids, 'Survived':pred})
res.to_csv('Submit_SK.csv', index=False)